{% comment %}
  This section is used in the product template to render a modern, responsive product page with
  media gallery, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}

{{ 'Details.css' | asset_url | stylesheet_tag: preload: true  }}



{% assign featured = product.selected_or_first_available_variant.featured_image %}
{% assign featured_image = product.featured_image %}

<div class="product-page">
  <div class="product-gallery">
    {% if featured %}
      <img src="{{ featured | image_url: width: 800, height: 800, crop: 'center' }}" alt="{{ product.title }}" class="product-main-image" width="400", height="400">
    {% else %}
      <img src="{{ featured_image | image_url: width: 800, height: 800, crop: 'center' }}" alt="{{ product.title }}" class="product-main-image" width="400", height="400">
    {% endif %}

    <ul class="product-image-thumbnails">
      {% for image in product.images %}
        <li class="thumbnail-item {% if image == featured %}selected{% endif %}">
        <img 
          src="{{ image | image_url: width: 100, height: 100, crop: 'center' }}"
          data-large="{{ image | image_url: width: 800 }}"
          alt="{{ product.title }} thumbnail"
          class="thumbnail-image"
          width="100"
          height="100"
        >
      </li>

      {% endfor %}
    </ul>

  </div>

  <div class="product-details">
    {% if product.vendor %}
      <p>{{product.vendor}}</p>
    {% endif %}
    
    <h1 class="product-title">{{ product.title }}</h1>
    
<div class="product-prices">
  <p class="product-compare-price">{{ product.selected_or_first_available_variant.compare_at_price }}</p>
  <p class="product-price">{{ product.selected_or_first_available_variant.price }}</p>
</div>


    {% form 'product', product, class: 'product-form' %}
      <input
        type="hidden"
        name="id"
        id="product-id"
        value="{{ product.selected_or_first_available_variant.id }}"
      >
      {% if product.variants.size > 1 %}
      <div class="product-options">
        {% for option in product.options_with_values %}
          <fieldset>
            <legend>{{ option.name }}</legend>
            {% for value in option.values %}
              <div class="variant-value"> 
                <input
                  {% if option.selected_value == value %}checked{% endif %}
                  type="radio"
                  name="{{ option.name }}"
                  value="{{ value }}"
                  id="{{ option.name | handleize  }}-{{ value | handleize  }}"
                />
                <label class="label-value" for="{{ option.name | handleize  }}-{{ value | handleize  }}">
                  {{ value }}
                </label>  
              </div>
            {% endfor %}

          </fieldset>
        {% endfor %}
      </div>
    {% endif %}

      <div class="quantity-selector">
        <label for="quantity">Quantity:</label>
        <div class="quantity-controls">
          <button type="button" class="quantity-btn" id="decrease-quantity">-</button>
          <input type="number" name="quantity" id="quantity" min="1"  value="1">
          <button type="button" class="quantity-btn" id="increase-quantity">+</button>
        </div>
      </div>
      <button type="submit" class="add-to-cart-btn" id="add-to-cart" {% unless product.selected_or_first_available_variant %}disabled{% endunless %}>
        {% if product.selected_or_first_available_variant %}
        Add to 
        {% else %}
        Sold Out
        {% endif %}
      </button>
      {{ form | payment_button }}
    {% endform %}
    <div class="product-description">{{ product.description }}</div>
  </div>
</div>

<script>
  const product = {{ product | json }};
  var shopMoneyFormat = "{{ shop.money_format }}";
  window.productVariants = {{ product.variants | json }};
</script>

<script src="https://cdn.jsdelivr.net/npm/url-parse@1.5.10/dist/url-parse.min.js" defer></script>
<script src="{{ 'Details.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
